body {
  font-family: Arial, sans-serif;
  background-image: url(img.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
}



nav {
  background: #071022;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

nav a, nav button {
  color: white;
  margin-left: 10px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

main {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
}

input, textarea {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

button {
  background: #2563eb;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}

.auth-box {
  max-width: 400px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.hidden {
  display: none;
}

.post {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-left: 4px solid #2563eb;
}
